body {
  font-family: Arial;
  margin: 0;
  background: #f4f6f9;
}

.sidebar {
  width: 200px;
  height: 100vh;
  background: #b71c1c;
  color: white;
  position: fixed;
  padding: 20px;
}

.sidebar a {
  display: block;
  color: white;
  margin: 10px 0;
  text-decoration: none;
}

.main {
  margin-left: 220px;
  padding: 20px;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px;
  border-radius: 8px;
}

button {
  background: #d32f2f;
  color: white;
  border: none;
  padding: 6px;
}